@model Book

@{
	<form method="get" action="/Book/SaveAdd">

		<div>
			<label>Title</label>
			<input id="Title" name="Title" type="text" value="@Model?.Title" class="form form-control" />
		</div>
		<div>
			<label>Author</label>
			<input id="Author" name="Author" type="text" value="@Model?.Author" class="form form-control" />
		</div>

<div>
    <label for="KindId">Kind</label>
    <select id="KindId" name="KindId"  class="form-control">
    	<option value="5">Select an option</option>
        <option value="1">sad</option>
	   <option value="2">funny</option>
		<option value="3">drama</option>
		<option value="4">horror</option>
    </select>
</div> 

<div>
     <label for="StatusId">Status</label>
     <select id="StatusId" name="StatusId" class="form-control">  
        <option value="1" >Available</option>
        <option value="2">Not Available</option>
    </select>
</div>

<br />

		<input type="submit" value="Create" class="btn btn-primary"/>
		
	</form>
	<br />
	<button class="btn btn-success ">
		<a style="text-decoration:none; color:azure;" href="/Book/AllBooks">Back to list</a>
	  </button>
}
