@model Book

@{
	<form method="get" action="/Book/SaveAdd">
	@* <div>
        	<label>Id</label>
			<input id="Id" name="Id" type="number" value="@Model?.Id" class="form form-control"/>
	</div>*@
		<div>
			<label>Title</label>
			<input id="Title" name="Title" type="text" value="@Model?.Title" class="form form-control" />
		</div>
		<div>
			<label>Author</label>
			<input id="Author" name="Author" type="text" value="@Model?.Author" class="form form-control" />
		</div>
		<div>
			<label>KindId</label>
			<input id="KindId" name="KindId" type="number" value="@Model?.KindId" class="form form-control" />
		</div>
		<div>
			<label>StatusId</label>
			<input id="StatusId" name="StatusId" type="number" value="@Model?.StatusId" class="form form-control" />
		</div>
		<input type="submit" value="Create" class="btn btn-primary"/>
		
	</form>
	<a href="/Book/AllBooks">Back to list</a>
}
