@model List<Book>


@{
	ViewData["Title"] = "ViewBook";
}

<form action="/Book/search" class="form form-control" >
	@* <label>
		Search your Book
	</label> *@
	<div style="display:flex">

	<input type="text" id="Author" name="Author" placeholder="Enter the name of the Auther " class="form-control w-25" />
	<button type="submit" class="btn btn-primary"> Search </button>
	</div>

</form>
<table class="table table-bordered table-hover">
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Genre</th>
		<th>Auther</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
		
	@foreach(var item in Model )
	{
		

		<tr>
			<td>@item.Id</td>
			<td>@item.Title</td>

			<td>@item.Author</td>
			@if(item.StatusId == 1)
			{
				<td class="text-success">Available</td>
			}else
			{
				<td class="text-danger">Not Available</td>
			}
			<td> <a href="/Book/Edit/@item.Id"class="btn btn-outline-warning m-1"> Edit</a>

				<form asp-action="Delete" asp-controller="Book" method="post">
					<input type="hidden" name="id" value="@item.Id" />
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</td>

		</tr>
	}
</table>

<button class="btn btn-dark "><a style="font-style:unset ; color:white" href="/Book/Add"> Add New Book</a></button>


