@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h3>
        Who we are ? :
    </h3>
    We are a team special in backend<br />
    using "ASP .NET core MVC""<br />
    we are :
    Eng : Yousef Emad Hashish<br />
    Eng : Omar Abdullah<br />
    Eng : Samar Salah Elsharkawy<br />
    Eng : Samar Reda Keshk<br />

</p>
<p>
    <h3>
        policy :
    </h3>
</p>
